//Подключение шрифта Gilroy
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  src: local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woof2") format("woof2"),
    url("../fonts/Gilroy-Regular.woof") format("woof");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  src: local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.woof2") format("woof2"),
    url("../fonts/Gilroy-Medium.woof") format("woof");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  src: local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.woof2") format("woof2"),
    url("../fonts/Gilroy-Semibold.woof") format("woof");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woof2") format("woof2"),
    url("../fonts/Gilroy-Bold.woof") format("woof");
  font-display: swap;
}
