html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  background-color: $default;
  line-height: 140%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

._container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  ._container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

a {
  font-size: 16px;
  color: $accent;
  line-height: 26px;
  @extend %gilroy-500;
}

.title {
  text-align: left;
  font-size: 58px;
  @extend %gilroy-700;
  line-height: 120%;
  color: $title;
  margin-bottom: 30px;
}

.sub-title {
  text-align: center;
  font-size: 42px;
  @extend %gilroy-500;
  line-height: 120%;
  margin-bottom: 30px;
  color: $title;
  margin-bottom: 30px;
}

.text {
  text-align: center;
  max-width: 1066px;
  color: $accent;
  font-size: 27px;
  @extend %gilroy-600;
  line-height: 140%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.blue-text {
  color: $span;
}
