$accent: #099dba;
$default: #fff;
$title: #474551;
$bg: #f3fefe;
$span: #046dbf;

%gilroy-400 {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
}

%gilroy-500 {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;
}

%gilroy-600 {
  font-family: "Gilroy-Semibold", sans-serif;
  font-weight: 600;
}

%gilroy-700 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 700;
}

%btn {
  border-radius: 30px;
  border: 2px solid #099dba;
  padding: 7.5px 39px;
  color: $accent;
  text-transform: uppercase;
  background-color: #fff;
  @extend %gilroy-600;
}

// fb снипет для fancyBox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
